//COLORS general
$primary: #FFF; // main color
$primary-pale-gray: #fbfbfb; //for profile and inputs

$primary-light-gray: #dbdbdb;
$primary-dark-gray: #c0c0c0 ;
$primary-dark-gray-text: #9ca3aa;

$second-pale-black: #757d87;
$second-blue: #41a9cf;

// COLORS message
$real-user-bg-col-message: #e7e7e7;
$static-user-bg-col-message: #3c4153;

// FONT SIZE
$sent-message-date: 0.9rem;
