@import "src/theme/variables.scss";
h1,h2,h3 {
	margin: 0;
}
.messenger-container {
	position: relative;
	height: 100vh;
	justify-content: center;
	align-items: flex-start;
	border-right: 1px solid $primary-dark-gray;
	border-left: 1px solid $primary-dark-gray;

	label, #user-chat {
		display: none;
		position: absolute;
		right: 0;
		top: 0;
		z-index: 4;
	}

	#user-chat:checked ~ .user-chats-container {
		left: 0;
		transition: 0.3s;
	}

	.user-chats-container, .chat-wraper {
		min-height: 100%;
		align-self: stretch;
	}

	.user-chats-container {
		width: 30%;
		max-width: 420px;
		overflow: hidden;
		min-width: 250px;
		.user-profile-search-container { 
			background-color: $primary-pale-gray;
			border-bottom: 1px solid $primary-dark-gray;

			.real-user-profile {
				align-items: center;
				justify-content: flex-start;
				padding: 10px 5px;
				h2 {
					margin: 0 auto 0 15px;
				}
				.log-out {
					margin-left: 3px;
					padding: 4px;
					border-radius: 10px;
					margin-right: 3px;
					align-items: center;
					justify-content: center;
					align-self:center;
					border: 2px solid #ff0000;
					background-color: transparent;
					img {
						z-index: 2;
					}
				}
			}
			.search-container {
				.search-form {
					margin: 1.5rem 0;
					position: relative;
					#search-inp {
						padding: 10px 10px 10px 40px;
					}
					img {
						top: calc(50% - 14px);
						left: 15px;
						position: absolute;
					}
				}
			}
		}
		.chat-list-header {
			background-color: $primary;
			height: 85px;
			padding: 15px 6px;
			color: $second-blue;
		}
		.static-users-wraper {
			background-color: $primary;
			flex: 1;
			overflow-y: auto;
		}
	}

	.chat-wraper {
		flex-grow: 1;
		height: 100%;
		width: 70%;
		border: 1px solid $primary-dark-gray;
	}
}


@media screen and (max-width: $screen-md) {
	.messenger-container {
		overflow-y: auto;
		overflow-x: hidden;
		
		.user-chats-container {
			position: absolute;
			width: 320px;
			top: 0;
			left: -320px;
			z-index: 5;
			transition: 0.3s;
			border-right: 1px solid $primary-dark-gray;
			
			.user-profile-search-container {
				.real-user-profile {
					.log-out {
						margin-right: 40px;
					}
				}
			}

		}

		.chat-wraper {
			width: 100%;
		}
		label {
			display: block;
			font-size: 20px;
			padding-top: 7px;
			text-align: center;
			color: $primary-dark-gray;
			position: fixed;
			right: 5px;
			top: calc(70px - 51.5px);
			z-index: 6;
			width: 35px;
			height: 35px;
			border-radius: 50%;
			background-color: #65737e;
		}
	}
}